{{ define "main" }}
<div class="td-content">
      <nav>
        <div class="nav-container">
          <!-- <label>
            <span>Filter by group:</span>
            <select class="command-reference-filter">
              <option value="">All</option>
              <option value="bitmap">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Bitmap" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="cluster">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Cluster" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="connection">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Connection" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="geo">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Geospatial indices" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="hash">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Hash" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="hyperloglog">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "HyperLogLog" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="generic">
                Keys
              </option>
              <option value="list">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "List" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="pubsub">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Pub/Sub" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="scripting">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Scripting and Functions" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="sentinel">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Sentinel" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="server">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Server" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="set">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Set" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="sorted-set">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Sorted Set" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="stream">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Stream" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="string">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "String" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
              <option value="transactions">
                {{ $commandGroups := site.Data.commandgroups }}
                {{ range $commandGroups }}
                  {{ if eq .display "Transactions" }}
                    {{ .display }}
                  {{ end }}
                {{ end }}
              </option>
            </select>
          </label> -->
          <!-- or -->
          <label>
            <span>search for:</span>
            <input autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" class="js-command-reference-search" placeholder="e.g. COMMAND LIST" spellcheck="false">
          </label>
        </div>
      </nav>
  {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <header class="article-meta">
        {{ $context := . }}
        {{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
            {{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
                {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
            {{ end }}
        {{ else }}
            {{ range $taxo, $taxo_map := .Site.Taxonomies }}
                {{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
            {{ end }}
        {{ end }}
        {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
            {{ partial "reading-time.html" . }}
        {{ end }}
    </header>
    {{ .Content }}
    <div class="section-index">
        {{ $parent := .Page }}
        {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
        {{ $pages = (where $pages "Type" "!=" "search") }}
        {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
        {{ $pages = (where $pages ".Parent" "!=" nil) }}
        {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
        {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
        {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
        {{ else if $parent.Params.simple_list }}
        {{/* If simple_list is true we show a bulleted list of subpages */}}
            <ul>
                {{ range $pages }}
                    {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                    <li><a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a></li>
                {{ end }}
            </ul>
        {{ else }}
        {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
        <div class="container">
            <div class="row">
                {{ range $index, $page := $pages }}
                    <div class="col command-card">
                        {{ partial "command-card.html" $page }}
                    </div>
                    {{ if eq (mod (add $index 1) 3) 0 }}
                      <div class="w-100"></div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>

    {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
        {{ partial "feedback.html" .Site.Params.ui.feedback }}
        <br />
    {{ end }}
    {{ if (.Site.DisqusShortname) }}
        <br />
        {{ partial "disqus-comment.html" . }}
    {{ end }}
    {{ partial "page-meta-lastmod.html" . }}
</div>
{{ end }}
