{{ $c := partial "command-getdata.html" . }}
{{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}

<div class="card m-1">
    <a href="{{ .RelPermalink }}" title="{{ $c.name }}">
        <div class="card-body m-0 p-2">
            <p class="card-title mb-1">
                {{ $c.name }} {{ $c.syntax }}
            </p>
            <p class="card-text text-muted small">
                {{ $c.summary }}
            </p>
        </div>
    </a>
</div>
