{{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}

{{ $syntax := "" }}
{{ if isset .Params "arguments"  }}
    {{ $args := .Params.arguments }}
    {{ if gt (len $args) 0 }}
        {{ $syntax = partial "command-syntax.html" $args }}
    {{ end }}
{{ end }}

<a class="p-3" href="{{ .RelPermalink }}" title="{{ printf "%s %s" .Title $syntax }}" data-name="{{ .Title }}" data-group="{{ .Params.group }}">
    <p class="title mb-1">
        {{ .Title }}
        <span class="text-muted">{{ $syntax }}</span>
    </p>
    <p class="card-text text-muted small">
        {{ .Params.summary }}
    </p>
</a>
