<nav class="command-filter">
    <div class="container justify-content-center d-flex align-items-center">
        <label>
            <span>Filter by group:</span>
            <select class="command-reference-filter">
                <option value="">All</option>
                {{- range $id, $group := .Site.Data.groups -}}
                <option value="{{ $id }}">{{ $group.display }}</option>
                {{ end }}
            </select>
        </label>
        <label>
            <span>or search for:</span>
            <input autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" class="js-command-reference-search" placeholder="e.g. CLUSTER BUMPEPOCH" spellcheck="false">
        </label>
    </div>
</nav>
